p {
    color: white;
    text-align: center;
    padding-top: 20%;
}

#circle {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
background: red;
float: left;
margin: 5px;
position: relative;
transition-property: margin;
transition-duration: 0.5s;
transition-delay: 0s;
margin: 5px;
}

#circle:hover{
transition-property: margin;
transition-duration: 0.5s;
transition-delay: 0s;
margin: 10px;
}

div {
    margin: auto;
    width: 60%;
    width: 700px;
    height: 500px;
}

