*{
    font-family:Helvetica,Arial,sans-serif;
}
html{
    position: relative;
    min-height: 100%;
}
header{
    position: absolute;
    top:0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: #00ccff;
}
footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #00ccff;
}
#left_header{
    text-align: center;
    color:#f2f2f2;
    margin-top: 15px;
}
#left_footer{
    text-align: center;
    color:#f2f2f2;
    margin-top: 17px;
}
#right_footer{
    text-align: center;
    margin-top: 17px;
}
.wrap_left{
    position: absolute;
    height: 50px;
    width: 250px;
    background-color: rgba(0,0,0,0.3);
}
.wrap_right{
    position: absolute;
    height: 50px;
    width: 150px;
    right:0px;
    background-color: rgba(0,0,0,0.3);
}
label{
    float: right;
    margin-top: -20px;
}
#content{
    position: relative;
    width: 100%;
    height: 87vh;
    margin: 50px auto auto auto;
    /*border: 2px solid black;*/

}
#left_content{
    position: absolute;
    top: 46%;
    padding: 20px 35px 15px 35px;
    width: 30%;
    height: 450px;
    margin-top: -200px;
    margin-left: 7%;
    background-color: #b3f0ff;
    /*border: 2px solid black;*/
}
#left_content p{
    margin: 30px 0 -1px;
}
#uniButtons{
    height: 50px;
    margin-left: -40px;
    margin-right: -40px;
}
.ui-button{
    height: 30px;
    margin-top: 0px;

}
.ui-button-text{
    font-size: 0.8em;
}
.ui-buttonset {
    margin-left: 5px;
    margin-right: 33px;
} 

#cloud {
    position: absolute;
    top: 50%;
    width: 60%;
    height: 650px;
    margin-top: -345px;
    margin-left: 40%;
    /*border: 2px solid black;*/
}
@media only screen
and (max-width: 1080px) {
    
}

div.jqcloud{overflow:hidden;position:relative}div.jqcloud span{padding:0}div.jqcloud{font-family:Helvetica,Arial,sans-serif;font-size:10px;line-height:normal}div.jqcloud a{font-size:inherit;text-decoration:none}div.jqcloud span.w10{font-size:550%}div.jqcloud span.w9{font-size:500%}div.jqcloud span.w8{font-size:450%}div.jqcloud span.w7{font-size:400%}div.jqcloud span.w6{font-size:350%}div.jqcloud span.w5{font-size:300%}div.jqcloud span.w4{font-size:250%}div.jqcloud span.w3{font-size:200%}div.jqcloud span.w2{font-size:150%}div.jqcloud span.w1{font-size:100%}div.jqcloud{color:#09f}div.jqcloud a{color:inherit}div.jqcloud a:hover,div.jqcloud span.w10,div.jqcloud span.w8,div.jqcloud span.w9{color:#0cf}div.jqcloud span.w7{color:#39d}div.jqcloud span.w6{color:#90c5f0}div.jqcloud span.w5{color:#90a0dd}div.jqcloud span.w4{color:#90c5f0}div.jqcloud span.w3{color:#a0ddff}div.jqcloud span.w2{color:#9ce}div.jqcloud span.w1{color:#aab5f0}
