<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='javascript/jQRangeSlider-min.js') }}"></script>
<script src="http://mistic100.github.io/jQCloud/dist/jqcloud2/dist/jqcloud.min.js"></script>
<script src="{{ url_for('static', filename='javascript/jQDateRangeSlider-min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="https://ghusse.github.io/jQRangeSlider/stable/css/iThing.css" rel="stylesheet" media="screen">

<head>
    <title>YikYak Word Frequencies</title>
</head>

<header>
    <div class=wrap_left>
        <h3 id = "left_header">YikYak Word Frequency</h3>
    </div>  
</header>

<body>
    <div id="content">
        <div id="left_content">
            <p><b>Time of Day</b></p>
            <label><input id="invertHour" type="checkbox" >Invert Selection</label>
            <div id="basicSlider"></div>
            <p><b>Days of Week</b></p>
            <label><input id="invertDay" type="checkbox" >Invert Selection</label>
            <div id="daySlider"></div>
            <p><b>Weeks of Year</b></p>
            <div id="dateSlider"></div>
            <script src="{{ url_for('static', filename='javascript/sliderFunctions.js') }}"></script>
        </div>
        <div id="cloud"></div>
    </div> 
    <script type="text/javascript">
        var words = []
        {% for i in range(60)%}
        words.push({text: "{{ yaks[1][i] }}", weight: "{{ yaks[0][i] }}"})
        {% endfor %}

        $('#cloud').jQCloud(words, {
            autoResize: true
        });
    </script>
</body>

<footer>
    <div class="wrap_left">
        <p id="left_footer">Created by Dominic Peters</p>
    </div>
    <div class="wrap_right">
        <a href="https://github.com/dpeters1/YakFrequency"><p id="right_footer">Source Code</p></a>
    </div>
</footer>

</html>